.bg-image {
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    background-position: center;
  }

  .containerLanding{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
  }

  .logo {
    /* Gradient background */
    background: linear-gradient(90deg, hsla(190, 32%, 46%, 1) 20%, hsla(300, 32%, 29%, 1) 100%, hsla(300, 32%, 29%, 1) 100%);
    
    /* Transparent text */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .nav {
    border: none; 
    outline: none;
  }